.page {
	&__projects {
		background-color: $extra-light-grey;
		@include adaptiveValue("padding-block", 100, 40, 0, 1420, 768);
	}
}
.projects {

	&__container {
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		@media (max-width:$mobile){
			grid-template-columns: 1fr; 
		}
	}

	&__item {
		
		@include adaptiveValue("padding", 20, 10,0,1420,768);
		border-radius: 24px;
		border: 1px solid $main-ligth-grey;
		@media (max-width:$mobile){	 
			border-radius: 12px; 
		}
	}
}
.news {
	&__top {
	}
}

.item-project {

	&__img {
		&:not(:last-child) {margin-bottom: toRem(20);}
	}

	img {
	 width:100%;
	 height:auto
	}
	&__content {
		line-height: 1.2;
	}

	&__title {
		font-weight: 500;
		color: $main-grey;
		&:not(:last-child) {margin-bottom: toRem(10);}
	}

	&__text {
		color: $text-grey;
	}

	&__bottom {
		margin-top: toRem(30);
		display: flex;
		justify-content: space-between;
	}

	&__date {
		font-size: toRem(14);
		line-height: 1.2;
		font-weight: 700;
		color: $main-grey;
	}

	&__arrow {
		flex: 0 0 12px;
		rotate: 90deg;
	}
}
