.page {
	&__questions {
		@include adaptiveValue("padding-block", 100, 40, 0, 1420, 768);
	}
}
.questions {
	&__container {
		@include adaptiveValue("padding", 60, 20, 0, 1420, 768);
		background-color: $main-grey;
		border-radius: 2rem;
		display: flex;
		gap: 0.625rem;
		justify-content: space-between;
		@media (max-width: $mobile) {
			border-radius: 1rem;
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 0 40%;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-family: $second-family;
		@include adaptiveValue("font-size", 48, 36, 0, 1420, 768);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 20, 16, 0, 1420, 768);
	}

	&__bottom {
		margin-top: auto;
		display: grid;
		grid-template-columns: 5.625rem 1fr;
		align-items: center;
		gap: 0.625rem;
	}

	&__img {
	}

	&__descriptions {
	}

	&__name {
		font-weight: 500;
		line-height: 1.2;
		@include adaptiveValue("font-size", 24, 18, 0, 1420, 768);
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}

	&__position {
		line-height: 120%;
		color: #6f6e6e;
		@include adaptiveValue("font-size", 16, 12, 0, 1420, 768);
	}

	&__form {
	}
}
.form-questions {
	flex: 0 1 auto;

	&__body {
		display: grid;
		gap: 1.25rem;
	}

	&__input {
		border: 0.0625rem solid #5d5c5b;
		border-radius: 0.75rem;
		padding: 1.25rem 1.875rem;
	}

	&__textarea {
		border: 0.0625rem solid #5d5c5b;
		border-radius: 0.75rem;
		padding: 1.25rem 1.875rem;
		height: 9.125rem;
		&::placeholder {
			color: #5d5c5b;
		}
	}
	&__bottom {
		display: flex;
		align-items: flex-start;
		gap: 1.875rem;
		@media (max-width: toEm(1240)) {
			flex-direction: column;
			  
		}
	}

	&__button {
	}

	&__text {
		font-size: toRem(14);
		color: $text-grey;
	}

	&__link {
		text-decoration: underline;
text-decoration-skip-ink: none;
color: $mainColor;
	}
}
